<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nci.sleeplab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sleeplab"
        android:label="Sleep Lab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".Light"
            android:label="Light sensor readings" />
        <activity
            android:name=".RoomTemp"
            android:label="Room temperature sensor readings" />
        <activity
            android:name=".Hum"
            android:label="humidity sensor readings" />
        <activity
            android:name=".Sound"
            android:label="Sound Sensor readings" />
        <activity android:name=".settings"
            android:label="settings"/>
        <activity android:name=".about"
            android:label="About Sleep Lab" />
    </application>

</manifest>